.content{
    width: 80%;
    margin: 0 auto;
}

.about-head{
    color: var(--title);
    font-family: 'Playball', sans-serif;
    font-size: 40px;
    text-transform: none;
    position: relative;
    margin-bottom: 20px;
    text-align: center;
}

.content-p{
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    font-weight: 500;
    color: var(--subtitle);
}













.why-col{
display: flex !important;
flex-direction: column !important;
}
.third-why{
    display: flex;
    justify-content: flex-start;
    padding: 0 1.6rem;
}
h2,h5{
    color: var(--title);
  }
  h2{
    padding: 10px;
  }
  
  /* Add animation styles */
  .afiliate-card {
      /* background-color: #222; */
      color: var(--subtitle);
      padding: 20px;
      border-radius: 10px;
      /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
      transform: translateZ(-500px);              /*////q/////*/
      transform: scale(-0.2);
      opacity: 0;
      transition: transform 1s, opacity 2s;
    }
    
    .afiliate-card.animate-in {
      transform: translateZ(0);
      opacity: 1;
      transform: scale(1);
    
    }
    
    .icon-wrapper {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      overflow: hidden;
      display: inline-block;                 /*////q/////*/
      background-color: #fff;
    }
    
    .icon {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    
    @media (max-width: 768px) {
      .afiliate-card {
        margin-bottom: 20px;
      }
      .third-why{
        flex-direction: column;
      }
      .two-why{
        padding-bottom: 0 !important;
      }
    }
    
    
    