

.card-title {
    color: #555550;
    /* font-family: Almarai; */
    /* font-size: 16px; */
    letter-spacing: 0;
    line-height: 20px;
    text-align: center;
  }

.card-bodyy{
    display: flex;
    align-items: center;
    justify-content: center;
}
  

.hidden {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  
  .fade-in {
    opacity: 1;
  }
  
  
  
  .loading-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid #494646;
    border-top: 3px solid #2f2f30;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
    background-color: #494646;
  }
  
